@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* general decoration*/
body {
    background-color: rgb(10, 0, 6);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:White;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

a {
    text-decoration-line: none;
}

.whiteIcon {
    color: white;
}

hr {
    display: inline-block;
    width: 45%;
}

/* Nav Bar */
header {
    background-color: rgb(13, 13, 13);
    width: 100%;
    height: 65px;
    z-index: 100;
    position: fixed;
    box-shadow: 0px 0px 15px 3px rgba(255,0,0,0.77);
}

#myNameHeader {
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 1.2rem;
    color: white;
}

#linkWrapper {
    margin-top: 17px;
    height: 100%;
}

.home {
    float: left;
    width: 10%;
    height: 35px;
    margin: 0;
    margin-left: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s, transform 0s ease-in-out;
}

.projectsNavBar {
    width: 10%;
    height: 35px;
    float: left;
    margin: 0;
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s, transform 0s ease-in-out;
}

.aboutMe {
    width: 10%;
    height: 35px;
    float: left;
    margin: 0;
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s, transform 0s ease-in-out;
}

.home:hover, .projectsNavBar:hover, .aboutMe:hover {
    border-radius: 100px;
    background-color: rgb(59, 12, 77);
}

.home:active, .projectsNavBar:active, .aboutMe:active {
    transform: scale(0.95);
}

/*contact me section */
aside { 
    width: 80px;
    float: right;
    padding-top: 150px;
    padding-bottom: 400px;
    background-color: rgb(13, 13, 13);
    box-shadow: 0px 0px 15px 3px rgba(255,0,0,0.77);
}

/* linkedin, email and github icon */
.linkedin {
    float: right;
    width: 60px;
    margin: 0; 
    margin-left: 20px;
    margin-right: 1px;
    margin-top: 67px;
}

.linkedin a {
    color: #3700ff;
}

.email {
    float: right;
    width: 60px;
    margin: 0;
    margin-top: 40px;
    margin-right: 3px;
}

.email a {
    color: #d31919;
}

.github {
    float: right;
    width: 60px;
    margin: 0;
    margin-top: 40px;
    margin-right: 1px;
}

/* vertical hr with the cv */
.cvWrapper {
    position: fixed;
    margin-top: 500px;
    margin-left: 89%;
}

.verticalHr {
    border-left: solid;
    height: 150px;
    margin-left: 55%;
    margin-top: 10px;
}

#cvParagraph {
    position: fixed;
    width: 70px;
    margin-top: 627px;
    margin-left: 87%;
    rotate: 270deg;
    color: rgb(100, 145, 174);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

/* Container of the presentation in the middle of the website*/
.presentation {  
    float: left;
    width: 55%;
    margin-top: 140px;
    margin-left: 130px;
}

.Presentation h1 {
    width: 600px;
    font-size: 2.2rem;
}

.presentation span {
    font-weight: 900;
    font-size: 3rem;
    width: 800px; 
    display: flex;
}

.presentation h3 {
    margin: 0;
    margin-left: 50px;
    margin-bottom: 15px;
    width: 700px;
    font-weight: 300;
}

.aboutMeRedirect {
    width: 30%;
    margin-left: 40%;
}

.aboutMeRedirect h4 {
    float: left;
    margin: 0;
    width: 60%;
    margin-top: 15px;
    margin-left: 22%;
    color: rgb(17, 169, 0);
}

.aboutMeRedirect i {
    margin-top: 5px;
    color: rgb(17, 169, 0);
}

/* About me section*/
.aboutMeSection {
    float: left;
    width: 100%;
    margin: 0;
    height: 275px;
    background-color:  rgb(9, 9, 9); /* rgb(13, 13, 13) */
    box-shadow: 0px 0px 15px 3px rgba(0,255,0,0.51);
    border-radius: 4% 0% 65% 40% / 9% 0% 42% 36%;
}

#aboutMeID {
    margin-top: 745px;
    z-index: -1;
    position: absolute;
}

.description h2 {
    float: left;
    margin: 0;
    margin-left: 15%;
    margin-top: 15px; 
    font-size: 1.6rem;
}

.description p {
    width: 85%;
    margin-left: 130px;
    margin-top: 45px;
    font-size: 1.15rem;
    line-height: 1.5;
}

/* Skill section*/
.mySkills {
    float: left;
    width: 100%;
    margin-top: 45px;
    height: 325px;
    margin-bottom: 230px;
}

.web-dev {
    float: left;
    width: 90px;
    margin-left: 150px;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
}

.web-dev p {
    margin-left: 50px;
}

.web-dev span {
    margin-left: 30px;
}

.htmlCssSkills {
    width: 50px;
    margin-left: 10px;
}

.jsSkill {
    width:50px;
    margin-left: 8px;
    margin-bottom: 20px;
}

.reactjs {
    width: 60px;
    float: left;
    margin-top: 90px;
    margin-left: 35px;
}

.softwareDev {
    float: left;
    width: 90px;
    margin-left: 357px;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
}

.softwareDev span {
    margin-left: 10px;
}

.cppSkill {
    width:60px;
    margin-top: 5px;
    margin-left: 14px;
}

.qtSkill {
    width: 72px;
    margin-left: 9px;
    height: auto;
}

.tools {
    float: left;
    margin-left: 430px;
    margin-top: 30px;
    display: grid;
    row-gap: 20px;
}

.tools p {
    margin-left: 10px;
    margin-bottom: 12px;
}

.tools img {
    width: 50px;
    margin-top: 5px;
    margin-left: 4px;
}

/* projects section*/
#projectID {
    position: absolute;
    margin-top: 1540px;
    z-index: -10;
}

.projectsSection {
    width: 100%;
    height: 700px;
    float: left;
}

.projectsHeader {
    float: left;
    width: 100%;
    font-size: 1.3rem;
    margin-left: 1.9%;
}

.projectsHeader p {
    font-size: 0.9rem;
}

.snake {
    float: left;
    width: 380px;
    height: 150px;
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow:  0px 0px 13px 8px rgba(32,224,166,0.71);
    border-radius: 5px;
    transition: transform 0.4s ease-in-out;
}

.snake:hover {
    transform: scale(1.1);
}

.snake span {
    font-weight: 100;
    font-size: 15px;
}

.htmlCssSnake {
    width: 50px;
    margin-left: 5px;
    margin-right: 15px;
}

.snake hr {
    width: 90%;
    margin-bottom: 10px;
    margin-left: 10px;
}

.jsSnake {
    width: 50px;
    margin-left: 10px;
    margin-right: 110px;
    margin-bottom: 5px;
}

.vscProjects {
    width: 50px;
}

.snake p {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 10px;
}

/* footer */
footer {
    float: left;
    width: 100%;
    height: 190px;
}

footer span {
    font-size: 23px;
}

footer hr {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

footer p {
    margin-left: 80px;
    margin-top: 20px;
}

.footerContact {
    float: left;
    width: 80%;
    padding-left: 90px;
}

.footerContact a {
    margin-right: 30px;
}

