@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* general decoration*/
body {
    background-color: rgb(10, 0, 6);  /* rgb(2, 0, 6), rgb(3, 0, 10) */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color:White;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

a {
    text-decoration-line: none;
    color:darkgray;
}

ul {
    list-style: none;
}

hr {
    display: inline-block;
    width: 45%;
}

/* Nav Bar */
header {
    background-color: rgb(13, 13, 13); /* to be replaced */ /* rgb(13, 13, 13) */
    width: 100%;
    height: 65px;
    z-index: 100;
    position: fixed;
    box-shadow: 2px 2px 20px rgb(255 0 0 / 30%), 2px 2px 2px rgb(255 0 0 / 30%);
}

#linkWrapper {
    margin-top: 17px;
}

.header p {
    transition: color 0.4s;
    transition-timing-function: ease-in-out;
}

.header p:hover {
    color: rgb(98, 216, 98);
}

.home {
    float: left;
    width: 10%;
    height: 35px;
    margin: 0;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s, transform 0s;
    transition-timing-function: ease-in-out;
}

.home:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(39, 31, 109);
}

.projectsBar {
    width: 10%;
    height: 35px;
    float: left;
    margin: 0;
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s, transform 0s;
    transition-timing-function: ease-in-out;
}

.projectsBar:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(17, 39, 60);
}

.aboutMe {
    width: 10%;
    height: 35px;
    float: left;
    margin: 0;
    margin-left: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s, transform 0s;
    transition-timing-function: ease-in-out;
}

.aboutMe:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: rgb(59, 12, 77);
}

.home:active, .projectsBar:active, .aboutMe:active {
    transform: scale(0.95);
}

#myNameHeader {
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 1.2rem;
}

/*contact me section */
aside { 
    width: 80px;
    float: right;
    padding-top: 150px;
    padding-bottom: 400px;
    background-color: rgb(13, 13, 13);
    box-shadow: -1px -10px 30px rgb(255 0 0 / 30%), -10px 0 5px -7px rgb(255 0 0 / 30%);
}

aside li {
    flex-direction: column;
    align-items: flex-end;
}

#linkContact {
    float: right;
    align-items: center;
    width: 80px;
    padding: 0;
    margin: 0;
    background-color: rgb(13, 13, 13);
}

/* Container of the linkedin, email and github icon*/
.linkedin {
    float: right;
    width: 60px;
    margin: 0; 
    margin-left: 20px;
    margin-right: 1px;
    margin-top: 50px;
}

.email {
    float: right;
    width: 60px;
    margin: 0;
    margin-top: 40px;
    margin-right: 3px;
}

.github {
    float: right;
    width: 60px;
    margin: 0;
    margin-top: 40px;
    margin-right: 1px;
}

/* Container of the my presentation in the middle of the website*/
.Presentation {  
    float: left;
    width: 55%;
    margin-top: 140px;
    margin-left: 130px;
}

.Presentation h1 {
    width: 600px;
}

#spanJob {
    font-weight: 900;
    font-size: 3rem;
    width: 800px; 
    display: flex;
}

#myDescription {
    margin: 0;
    margin-left: 50px;
    margin-bottom: 15px;
    width: 700px;
}

.AboutMeRedirect {
    width: 30%;
    margin-left: 40%;
}

#h4Redirect {
    float: left;
    margin: 0;
    width: 60%;
    margin-top: 15px;
    margin-left: 22%;
    color: rgb(17, 169, 0);
}

#arrowID {
    margin-top: 5px;
}

/* About me section*/
.aboutMeSection {
    float: left;
    width: 100%;
    margin: 0;
    height: 275px;
    background-color:  rgb(9, 9, 9); /* rgb(13, 13, 13) */
    box-shadow: 20px 1px 20px 2px rgb(255 0 0 / 30%), 10px -3px 3px 1px rgb(255 0 0 / 30%);
    border-radius: 50px 0 0 60px; 
}

#aboutMeID {
    margin-top: 735px;
    z-index: -1;
    position: absolute;
}

.description h2 {
    float: left;
    margin: 0;
    margin-left: 15%;
    margin-top: 15px; 
    font-size: 1.6rem;
}

.description p {
    width: 90%;
    margin-left: 50px;
    margin-top: 35px;
    float: left;
    font-size: 1.15rem;
    line-height: 1.5;
}

/* Skill section*/
.mySkills {
    float: left;
    width: 100%;
    margin-top: 45px;
    height: 325px;
    margin-bottom: 230px;
}

.web-dev {
    float: left;
    width: 90px;
    margin-left: 150px;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
}

#reactjs {
    width: 60px;
    float: left;
    margin-top: 90px;
    margin-left: 35px;
}

.softwareDev {
    float: left;
    width: 90px;
    margin-left: 357px;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
}

.softwareDev i {
    margin-top: 5px;
}

.softwareDev img {
    width: 72px;
    height: auto;
}

.tools {
    float: left;
    margin-left: 430px;
    margin-top: 30px;
    display: grid;
    row-gap: 20px;
}

.tools p {
    margin-left: 10px;
    margin-bottom: 12px;
}

.tools img {
    width:50px;
    margin-top:5px;
}

/* projects section*/
#projectID {
    position: absolute;
    margin-top: 1540px;
    z-index: -10;
}

.projectsSection {
    width: 100%;
    height: 700px;
    float: left;
}

.projectsTitle {
    float: left;
    width: 100%;
    font-size: 1.3rem;
    margin-left: 1.7%;
}

.snake {
    float: left;
    width: 380px;
    height: 150px;
    margin-top: 70px;
    margin-left: 200px;
    margin-bottom: 50px;
    background-color: white;
    box-shadow: 3px 3px 4px rgba(74, 14, 14, 0.3), 4px -3px 5px 2px rgba(74, 14, 14, 0.3);
    border-radius: 5px;
    transition: transform 0.4s;
    transition-timing-function: ease-in-out;
}

.snake p {
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 10px;
}

.snake:hover {
    transform: scale(1.1);
}


/* footer */
footer {
    float: left;
    width: 100%;
    height: 190px;
}

footer hr {
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}

footer p {
    margin-left: 80px;
    margin-top: 20px;
}

.footerContact {
    float: left;
    width: 80%;
    padding-left: 90px;
}

#footerMail {
    margin-left: 50px;
    margin-right: 50px;
}
